{% extends 'base.html.twig' %}

{% block title %} - {{ program.title }} S{{ season.number }}{% endblock %}

{% block body %}
    <h1>{{ program.title }}</h1>
    <h2>Saison {{ season.number }}</h2>
    <p>{{ season.description }}</p>
    <p>Liste des épisodes :</p>
    <ul>
        {% for episode in season.episodes %}
            <li>
                <a href="{{ path("program_episode_show", { slug: program.slug, slug_season: season.slug, slug_episode: episode.slug }) }}">
                    Épisode {{ episode.number }}
                    : {{ episode.title|trim('.') }}</a>
            </li>
        {% endfor %}
    </ul>

    <a href="{{ path("app_episode_new") }}">
        Nouvel épisode
    </a>

    <a href="{{ path("program_show", { slug: program.slug }) }}">
        Retour à la série
    </a>
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}
